
@{
    ViewBag.Title = "belbim";
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}



<!DOCTYPE html>

<html>

<head>



</head>
<body>

    <section>
        <div class="category_block">
            <h1 style="font-size:2vw">BELBİM A.Ş</h1>
            <p>
                Açıklama

                Şirketimiz, İstanbul toplu ulaşımında kullanılan entegre Elektronik Ücret Toplama Sistemi'nin kurucusu olup,
                tamamen şirketimiz bünyesinde geliştirilmiş olan bu sistemi, kullanıcılarına elektronik kart aracılığıyla
                ödeme imkânı veren; güvenli, hızlı ve doğru işlem altyapısı sunan bir elektronik para ve bilgi yönetim hizmeti
                olarak sunmaktadır.Bu sistemde elektronik para medyası olarak BELBİM A.Ş. tarafından 2007 yılında, ‘İstanbulkart’
                geliştirilmiştir. ‘İstanbulkart’ içinde 28 farklı uygulamayı barındırabilen, farklı elektronik para uygulamalarıyla
                çeşitli iş modelleri geliştirmeye müsait, örnek bir şehir kartı olarak tasarlanmıştır.‘İstanbulkart’ ile kullanıcıların
                elektronik para sistemine dâhil olan her noktada kolay, hızlı ve güvenli ödeme altyapısını kullanarak ödeme yapabilme imkânına
                sahip olabilmesi amaçlanmıştır.Şirketimiz, 6493 Sayılı Kanun uyarınca BDDK’dan 24.12.2015 tarihinde “Elektronik Para Kuruluşu
                Lisansı” almıştır. Bu kapsamda mevcut sistemi elektronik para sistemine dönüştürmek suretiyle İstanbulkart’ın, hem toplu taşımanın
                ücretlendirilmesinde hem de diğer belediye hizmetleri ile ulaşım dışındaki alanlarda da ödeme aracı olarak kullanılmasını sağlayacakatır.
                

            </p>
        </div>
    </section>
   















</body>
</html>