
@{
    ViewBag.Title = "igdas";
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}




<!DOCTYPE html>

<html>

<head>



</head>
<body>

    <section>
        <div class="category_block">
            <h1 style="font-size:2vw">İGDAŞ</h1>
            <p>
                Açıklama

                Büyükşehir Belediyesi'nin doğalgaz dağıtımındaki öncelikli amacı
                “Tüm çalışanların etkin katılımıyla, doğalgaz hizmetlerini, en uygun 
                ileri teknoloji, güvenli bir altyapı ve temiz çevre bilinci ile müşteri
                memnuniyetini sağlayarak, sürekli ve ekonomik bir biçimde topluma sunmaktır.
                "İstanbul’da doğalgaz altyapı yatırımları, işletmeciliği ve satışını üstlenen 
                Büyükşehir Belediyesi, 1986 yılında bünyesinde kurduğu İstanbul Gaz Dağıtım San. 
                ve Tic. Anonim Şirketi (İGDAŞ) ile büyük bir yatırım hamlesi başlatmış, böylelikle 
                şehir hayatını çekilmez kılan hava kirliliğini azaltmak için doğalgaz kullanımının 
                yaygınlaştırılması çalışmalarına hız vermiştir. Kent genelinde yapılan altyapı yatırımları 
                ile doğalgaz kullanımı yaygınlaştırılarak İstanbul’un havası temizlenmiştir. Şu anda İstanbul
                dünyanın havası en temiz metropolleri arasında yer almaktadır. Doğalgaz sektörü ile ilgili faaliyetler 
                ileri teknoloji ve yüksek eğitim gerektirdiğinden, Belediyemiz gerekli bilgi ve teknik donanım altyapısını
                geliştirmiş ve böylece uluslararası standartları yakalayarak, dünyanın sayılı doğalgaz şebekesine sahip 
                olmuştur. Her alanda dünya standartlarında hizmet vermeyi amaçlayan İstanbul Büyükşehir Belediyesi, doğalgaz
                dağıtımında IS0 9001, ISO 14001, ISO 27001, ISO 10002, ISO 22320, OHSAS 18001 ve ISO 55001 belgelerini alarak
                kalitesini belgelemiştir. Ayrıca Kurumsal Varlık Yönetimi (ERP), doğalgaz işletim sistemine entegre edilmiş ve
                değişen ihtiyaçlar gelişen teknoloji ile karşılanır hale getirilmiştir. En son teknolojiyle donanımlı ekip ve 
                ekipmanlara sahip 3 bölge müdürlüğü, işletme şeflikleri, 1000’e yakın teknik personel, Merkezi Kontrol ve Veri 
                Toplama Sistemi SCADA ve tam donanımlı araçlar ile İstanbul Doğalgaz Şebekesi 7 gün 24 saat kesintisiz olarak denetim
                altında tutulmaktadır. Diğer taraftan Hizmet Binaları, Vezneler, Bankalar ve Ödeme Merkezleri ile de İstanbullulara hizmet vermektedir.
                Konforlu, güvenli, ekonomik olduğu kadar da çevreci bir yakıt olan doğalgazın hızlı bir şekilde yaygınlaşması için bir yandan yatırımları 
                sürdüren belediyemiz tanıtım ve teşvik çalışmaları ile doğalgaz abone sayısını 6 milyonun üzerine çıkarmıştır. Doğalgaz konusunda yapılan 
                çalışmalar ile aldığımız Ulusal Kalite Büyük Ödülü, Mükemmellikte Süreklilik Ödülü, Müşteri Memnuniyetini İlke Edinen Firma Ödülü, 
                En İyi Çağrı Merkezi Ödülü, KSS Sürdürülebilirlik Ödülü ve Altın Pusula Ödülleri başta olmak üzere 50’ye yakın ödül ile çalışmalarımız
                taçlandırılmıştır. Şu anda Belediyemizin doğalgaz şirketi İGDAŞ doğalgaz çalışmaları ile Türkiye’nin en büyük 500 şirketi arasında 28. sıradadır. 
                Son olarak 2016 yılı Ağustos ayında hizmet alanına Çatalca ilçesi de eklenerek Silivri’den Şile’ye, Adalar’dan Tuzla’ya kadar İstanbul’un tüm ilçelerine doğalgaz ulaştırılmıştır.

            </p>
        </div>
    </section>





</body>
</html>