
@{
    ViewBag.Title = "iski";
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}


<!DOCTYPE html>

<html>

<head>



</head>
<body>

    <section>
        <div class="category_block">
            <h1 style="font-size:2vw">İSKİ</h1>
            <p>
                Açıklama

                2560 sayılı İSKİ Kanunu ile 1981 yılında kurulan İSKİ, İstanbul Büyükşehir Belediyesi’ne bağlı bağımsız bütçeli bir kuruluştur. İstanbul Büyükşehir Belediyesi'ne bağlı, bağımsız bütçeli, kamu tüzel kişiliğini haiz bir kuruluş olan İSKİ’nin kuruluş kanununa göre başlıca görevleri şunlardır: İçme ve kullanma suyunun her türlü yeraltı ve yerüstü su kaynaklarından sağlanması ve ihtiyaç sahiplerine dağıtılması için, kaynaklardan aboneye ulaşıncaya kadar her türlü tesisin, etüd ve projesini yapmak veya yaptırmak, bu projelere göre tesisleri kurmak ya da kurdurmak, kurulu olanları devralıp işletmek, bakım ve onarımlarını yapmak. Kullanılmış sularla yağmur sularının toplanması, yerleşim bölgelerinden uzaklaştırılması ve zararsız biçimde boşaltma yerine ulaştırılması ya da bu sulardan yararlanılması için, gerekli her türlü tesisin etüd ve projesini hazırlamak veya hazırlatmak. Bölge içindeki su kaynaklarının deniz, göl, akarsu kıyılarının ve yeraltı sularının kullanılmış sularla ve sanayi atıklarıyla kirletilmesini, bu kaynaklarda suların kaybına ya da azalmasına yol açacak faaliyetlerde bulunulmasını önlemek, bu konularda her türlü teknik, idari ve hukuki tedbiri almak. Su ve kanalizasyon hizmetleri konusunda, hizmet alanı içindeki belediyelere verilen görevleri yürütmek ve bu hususlarda her türlü yetkiyi kullanmak. Her türlü taşınır ve taşınmaz malı satın almak, kiralamak, ekonomik değeri kalmamış araç ve gereçleri satmak, İSKİ'nin hizmetleri ile ilgili tesisleri doğrudan doğruya ya da kamu ve özel kuruluşlarla ortak olarak kurmak ve işletmek. Bu gaye ile kurulmuş ya da kurulmakta olan tesislere iştirak etmek. Kuruluş gayesi ile alakalı çalışmaların gerekli kılması halinde, her türlü taşınmaz malı kamulaştırmak ya da üzerinde kullanma hakkını yerine getirmektir.

            </p>
        </div>
    </section>
















</body>
</html>